
body,h1,h2,h3,h4,h5,h6 {
    font-family: "quicksand", sans-serif;
}

.navigation {
	background: #333;
	color: white;
	padding: 2rem 0;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
}

	.navigation a {
		color: white;
		text-decoration: none;
	}

.logo-nav-container {
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.logo {
	letter-spacing: 5px;
	font-size: 1.2em;
}

.navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

	.navigation ul li {
		display: inline-block;
	}

		.navigation ul li a {
			display: block;
			padding: 0.5rem 1rem;
			transition: all 0.4s linear;
			border-radius: 5px;
		}

			.navigation ul li a:hover {
				background: #4a4a4a;
			}


.filter {
    padding-top: 10rem;
}